body{
    background-color: lightgrey;
}
.container{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
}
.top{
    display: flex;
    width: 350px;
    height: 50px;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
}
.topleft{
    display: flex;
    align-items: center;
}
.icontop{
    font-size: 30px;
    align-items: center;
}
.titulo{
    font-size: 12px;
    padding-left: 15px;
}
.toprigth{
    display: flex;
    align-items: center;   
}
.ajustes{
    font-size: 30px;
}
.bnt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 25px;
    background-color: white;
    padding: 5px;
}

.button{
    width: 350px;
    background-color: white;
    padding: 0px 5px 0px 5px;
}

.bnt .left, .right{
    font-size: 25px;
}
.img{
    width: 360px;
    height: 250px;
}
.titulo .parafo{
    font-family: Georgia, 'Times New Roman', Times, serif;
}